
* {
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.back {
    background: linear-gradient(45deg, #4cbb17, #004953);
    height: 100vh;
    width: 100vw;
}

.button {
    height: 10vh;
    width: 10vw;
    font-size: 5vh;
    margin: 0.5vh;
    cursor: pointer;
    border: none;
    opacity: 0.5;
}

.button:hover {
    opacity: 1.0;
}

.textview {
    height: 10vh;
    width: 45vw;
    margin: 2;
    font-size: 10vh;
    padding: 5;
}